.navbar{
  background: #000;
}
.nav-item{
  padding-left: 1em;
}



.carousel-item{
  height: 450px;
}

.carousel-img-1{
  background-image: url('../img/image1.jpeg');
    background-size: cover;
}
.carousel-img-2{
  background-image: url('../img/image2.jpeg');
    background-size: cover;
}
.carousel-img-3{
  background-image: url('../img/image3.jpeg');
    background-size: cover;
}

#home-icone .fa{
  font-size: 50px;
}

#home-get-started{
  background: url('../img/bg1.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  min-height: 250px;
}
.dark-overlay{
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#home-video{
  background: url('../img/people.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  min-height: 250px;
}
.dark-overla{
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#home-video .fa{
  font-size: 50px;
  color: #ff0000;
}

#galary img{
  min-height: 250px;
}

#home-get-started{
  min-height: 300px;
}
#copyritht{
  background: #000;
  color: #fff;
}

#page-header{
  background: url('../img/image1.jpeg');
  background-size: cover;
  height: 200px;
  background-attachment: fixed;
}

#about-info img{
  width: 350px;
  height: 350px;
}

#Icon-boxs .fa{
  font-size: 50px;
  margin-bottom: 20px;
}

#testimonial .slick-prev::before{
  color: #000;

}

#testimonial .slick-next::before{
  color: #000;

}


#services-page-header{
  background: url('../img/image2.jpeg');
  background-size: cover;
  height: 200px;
  background-attachment: fixed;

}

@media(max-width: 767px){
  .nav-item{
    padding-left: 0px;
  }
